#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MX Time Settings
Name[ar]=MX إعدادات الوقت
Name[ca]=MX Ajustaments de temps
Name[da]=MX Tidsindstillinger
Name[de]=MX Zeiteinstellungen
Name[el]=MX Ρυθμίσεις ώρας
Name[es]=MX Ajuste de reloj
Name[fi]=MX Aika-asetukset
Name[fr]=MX Réglage de l'heure
Name[it]=MX Impostazioni Ora
Name[ja]=MX 時間設定
Name[kk]=MX Уақыт параметрлері
Name[nl]=MX Tijd Instellingen
Name[pl]=MX Ustawienia czasu
Name[pt_BR]=MX Configurações de Data e Hora
Name[pt]=MX-Definições de Data e Hora
Name[ru]=MX Настройки времени
Name[sv]=MX Tidsinställningar
Name[zh]=MX 时间设置
Comment=A GUI for managing system date and time
Comment[ar]=واجهة المستخدم الرسومية لإدارة 
Comment[ca]=Una interfície gràfica d'usuari per a la gestió de la data i hora del sistema
Comment[da]=En grafisk brugerflade til at håndtere systemets dato og klokkeslæt
Comment[de]=Grafische Einstellung von Systemzeit und -datum
Comment[el]=Διαχείριση της ημερομηνίας και της ώρας του συστήματος
Comment[es]=Un GUI para gestar fecha y hora del sistema
Comment[fr]=Une interface graphique pour régler la date et l'heure du système
Comment[it]=Gestione della data e dell'orario del sistema
Comment[ja]=システムの日付と時刻を管理するためのGUI
Comment[kk]=жүйелік күн мен уақытын басқару үшін GUI
Comment[nl]=Een GUI voor het beheer van systeem datum en tijd
Comment[pl]=GUI do zarządzania datę i czas systemowy
Comment[pt_BR]=Configurar a data e hora do sistema  [mx-timeset-gui]
Comment[pt]=Definir a data e hora do sistema através duma interface gráfica [mx-timeset-gui]
Comment[ru]=Графический интерфейс для управления системной даты и времени
Comment[sv]=Ett gränssnitt för att hantera systemdatum och tid
Comment[zh]=用于管理系统日期和时间的GUI

Exec=su-to-root -X -c mx-timeset-gui
Icon=mx-timeset-gui-icon
Terminal=false
NoDisplay=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Encoding=UTF-8
