#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MX Time Settings
Name[am]=MX Time Settings
Name[ar]=MX إعدادات الوقت
Name[bg]=MX Time Settings
Name[ca]=MX Ajustaments de temps
Name[cs]=MX Time Settings
Name[da]=MX Tidsindstillinger
Name[de]=MX Zeiteinstellung
Name[el]=MX Time Settings
Name[es]=MX Ajuste de reloj
Name[et]=MX Time Settings
Name[eu]=MX Time Settings
Name[fa]=MX Time Settings
Name[fi]=MX Aika-asetukset
Name[fr]=MX Réglage de l'heure
Name[he_IL]=MX Time Settings
Name[hi]=MX Time Settings
Name[hr]=MX Time Settings
Name[hu]=MX Time Settings
Name[id]=MX Time Settings
Name[is]=MX Time Settings
Name[it]=MX Impostazioni Ora
Name[ja_JP]=MX Time Settings
Name[ja]=MX 時間設定
Name[kk]=MX Уақыт параметрлері
Name[ko]=MX Time Settings
Name[lt]=MX Time Settings
Name[mk]=MX Time Settings
Name[nb]=MX Time Settings
Name[nl]=MX Tijd Instellingen
Name[pl]=MX Ustawienia czasu
Name[pt_BR]=MX Configurações de Data e Hora
Name[pt]=MX-Definições de Data e Hora
Name[ro]=MX Time Settings
Name[ru]=MX Настройки времени
Name[sk]=MX Time Settings
Name[sl]=MX Time Settings
Name[sq]=MX Time Settings
Name[sr]=MX Time Settings
Name[sv]=MX Tidsinställningar
Name[tr]=MX Time Settings
Name[uk]=MX Time Settings
Name[zh_CN]=MX 时间设置
Name[zh_TW]=MX Time Settings
Comment=A GUI for managing system date and time
Comment[am]=A GUI for managing system date and time
Comment[ar]=واجهة المستخدم الرسومية لإدارة
Comment[bg]=A GUI for managing system date and time
Comment[ca]=Una interfície gràfica d'usuari per a la gestió de la data i hora del sistema
Comment[cs]=A GUI for managing system date and time
Comment[da]=En grafisk brugerflade til at håndtere systemets dato og klokkeslæt
Comment[de]=Grafische Einstellung von Systemzeit und -datum
Comment[el]=Διαχείριση της ημερομηνίας και της ώρας του συστήματος
Comment[es]=Un GUI para gestar fecha y hora del sistema
Comment[et]=A GUI for managing system date and time
Comment[eu]=A GUI for managing system date and time
Comment[fa]=A GUI for managing system date and time
Comment[fi]=A GUI for managing system date and time
Comment[fr]=Une interface graphique pour régler la date et l'heure du système
Comment[he_IL]=A GUI for managing system date and time
Comment[hi]=A GUI for managing system date and time
Comment[hr]=A GUI for managing system date and time
Comment[hu]=A GUI for managing system date and time
Comment[id]=A GUI for managing system date and time
Comment[is]=A GUI for managing system date and time
Comment[it]=Gestione della data e dell'orario del sistema
Comment[ja_JP]=A GUI for managing system date and time
Comment[ja]=システムの日付と時刻を管理するためのGUI
Comment[kk]=жүйелік күн мен уақытын басқару үшін GUI
Comment[ko]=A GUI for managing system date and time
Comment[lt]=A GUI for managing system date and time
Comment[mk]=A GUI for managing system date and time
Comment[nb]=A GUI for managing system date and time
Comment[nl]=Een GUI voor het beheer van systeem datum en tijd
Comment[pl]=Narzędzie do zarządzania czasem i datą systemową
Comment[pt_BR]=Configurar a data e hora do sistema  [mx-timeset-gui]
Comment[pt]=Definir a data e hora do sistema através duma interface gráfica [mx-timeset-gui]
Comment[ro]=A GUI for managing system date and time
Comment[ru]=Графический интерфейс для управления системной даты и времени
Comment[sk]=A GUI for managing system date and time
Comment[sl]=A GUI for managing system date and time
Comment[sq]=A GUI for managing system date and time
Comment[sr]=A GUI for managing system date and time
Comment[sv]=Ett gränssnitt för att hantera systemdatum och tid
Comment[tr]=A GUI for managing system date and time
Comment[uk]=A GUI for managing system date and time
Comment[zh_CN]=用于管理系统日期和时间的GUI
Comment[zh_TW]=A GUI for managing system date and time

Exec=su-to-root -X -c mx-timeset-gui
Icon=mx-timeset-gui-icon
Terminal=false
NoDisplay=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Encoding=UTF-8
